
/* Extra Small Devices (Phones, 600px and down) */
@media only screen and (max-width: 600px) {


}

/* Small Devices (Small Tablets and Large Phones, 600px and up) */
@media only screen and (min-width: 600px) {


}

/* Medium Devices (Landscape Tablets, 768px and up) */
@media only screen and (max-width: 992px) {
    .logo {
        margin-left: 3%;
    }

    .nav-bar {
        padding-right: 3%;
    }

    .section-1-intro {
        width: 90%;
    }

    .span-1-of-4 {
        width: 49.2%; 
        margin: 1% 0px;
    }

    .forms-section {
        width: 80%;
    }

    /* .row {
        width: 90%;
        margin: 0px auto;
    } */
}

/* Extra Large Devices (Large Laptops and Desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {


}